body {
  background-color: #D4E9FF;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-color: #9EAEE8;
  border-width: 5px;
}

h1, h3 {
  color: #7090B3;
}
